.container {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar navbar"
    "banner banner banner"
    "text_1 text_1 text_1"
    "box_1 box_2 box_3"
    "box_4 box_5 box_6"
    "box_7 box_8 box_9"
    "emotions emotions emotions"
    "footer footer footer";
}

.navbar {
    grid-area: navbar;
}

.banner {
    grid-area: banner;
}

.text_1 {
    grid-area: text_1;
}

.box_1 {
    grid-area: box_1;
}

.box_2 {
    grid-area: box_2;
}

.box_3 {
    grid-area: box_3;
}

.box_4 {
    grid-area: box_4;
}

.box_5 {
    grid-area: box_5;
}

.box_6 {
    grid-area: box_6;
}

.box_7 {
    grid-area: box_7;
}

.box_8 {
    grid-area: box_8;
}

.box_9 {
    grid-area: box_9;
}

.emotions {
    grid-area: emotions;
}

.footer {
    grid-area: footer;
}